$font-family-sans-serif: 'Lato', sans-serif;
$brand-primary: #63B8FF;
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.5.0/fonts";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome.scss";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #555;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #333;
}

h1 {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Paragraph & Typographic */
p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

.centered {
  text-align: center;
}

.btn-semi-block {
  width: 70%;
  padding-right: 0;
  padding-left: 0;
}

.btn-small-block {
  width: 40%;
  padding-right: 0;
  padding-left: 0;
}

.col-counter {
  padding-top: 10px;
  margin-top: 0;
}

/* Links */
a {
  color: $brand-primary;
  word-wrap: break-word;

  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.progress-bar-info {
  background-color: #556D90;
}

.progress {
  background-color: #BDB7B7;
}

.streamer-img {
  max-width: 100px;
  max-height: 100px;
  min-height: 100px;
  min-width: 100px;
}

/* Helpers */

.sponsorFix {
  padding-bottom: 150px;
}

.welcomeFix {
  padding-top: 150px;
}

.margin {
  margin-top: 40px;
  margin-bottom: 40px;
}

.padding {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* +++++ WRAP SECTIONS +++++ */
// tpdo: fix or remove
// #header {
//   padding-top: 130px;
//   padding-bottom: 70px;
//   background-color: #f2f2f2;
// }

@media (max-width: 750px) {
  #header {
    padding-top: 50px;
  }
}

#footer {
  background-color: #2f2f2f;
  padding: 50px;
}

#footer p {
  color: white;
}

#footer h4 {
  color: white;
  text-transform: uppercase;
  padding-bottom: 20px;
}


/* glyphicon Configuration */

.glyphiconLarge {
  font-size: 40px;
  color: $brand-primary;
}

.sponsor {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  height: auto;
  max-width: 100%;
  max-height: 8em;
}

.error {
  font-size: 80px;
}

.fixVid {
  color: white;
}

.myBlock {
  display: inline-block;
}

#admin {
  margin: 5px;
}

.graphs {
  width: 33%;
  display: inline-block;
}

.adminTable .btn {
  margin: 2px;
}

.adminTable thead th {
  text-align: center;
}

textarea {
  resize: none;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.navbar {
  background-color: $brand-primary;
  margin: 0;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  top: -18px;
  position: absolute;
}

.navbar-default .navbar-collapse {
  background-color: $brand-primary;
  border-color: $brand-primary;
}

.navbar-default .navbar-nav > li > a {
  font-size: 25px;
  color: white;
}

.navbar-nav {
  margin-top: 12px;
}

.navbar-brand .small {
  padding-top: 17px;
}

@media (max-width: 750px) {
  .adminTable button {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .adminTable .panel-title {
    height: inherit;
  }

  .navbar-brand .large {
    display: none;
  }
  
  .container {
    padding-top: 0;
  }
  
  .navbar-left {
    margin-bottom: 0;
  }
  
  .navbar-right {
    margin-top: 0;
  }
}

@media (min-width: 750px) {
  .navbar-brand .small {
    display: none;
  }
  .navbar-nav > li {
    margin-top: 6px;
  }
  
  .container {
    padding-top: 70px;
    padding-bottom: 60px;
  }
  
  .navbar {
    height: 90px;
  }
}

@media (max-width: 560px) {
  .adminTable .noWrap {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid #dddddd;
  }
}

#suggest {
  margin-top: 5px;
  margin-bottom: 20px;
}

.enable {
  margin-top: 15px;
}

.panel-heading .myBlock {
  color: white;
}